<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REST API - MVC</title>
    <link rel="stylesheet" href="https://www.unpkg.com/bulma@0.9.3/css/bulma.css" />
  </head>
  <body>
    <div id="app" class="container is-max-desktop mt-5">
      <h1 class="title">Add Note</h1>
      
  

      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input type="text" placeholder="Title" class="input" name="title" id="title" />
        </div>
      </div>
      <div class="field">
        <label class="label">Note</label>
        <div class="control">
          <input type="text" placeholder="Note" class="input" name="note" id="note" />
        </div>
      </div>

      <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <div class="select">
            <select id="category_id" name="category_id">
              <% categories.forEach(category => { %>
                  <option value="<%= category.id %>">
                      <%= category.id %>
                    </option>
              <% }) %>
            </select>             
          </div>
        </div>
      </div>

      <div class="control">
        <button class="button is-primary" id="save" onclick="createNote()">CREATE</button>
      </div>
      
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      
      <script>
        const createNote = () => {
          axios.post('/api/notes', {
            title: document.getElementById("title").value,
            note: document.getElementById("note").value,
            category_id: document.getElementById("category_id").value
          })
          .then((result) => {
            alert("Note created successfully!");
            window.location = '/';
          })
          .catch((err) => {
            alert("Error: " + err);
          });
        };
      </script>
  </body>
</html>
