body {
  margin: 0;
  background-color: pink;
}

/* awal navbar */
nav {
  color: white;
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
}

ul {
  display: flex;
  padding: 20px 160px;
}

li {
  list-style-type: none;
  margin-right: 10px;
  cursor: pointer;
}

li:hover {
  color: black;
}

nav img {
  width: 200px;
  height: auto;
}

button {
  color: black;
  background-color: white;
  width: 100px;
  height: 50px;
  margin-left: 10px;
}

/* akhir navbar */

/* awal main */
.section-1 {
  margin-top: 100px;
  text-align: center;
}

.section-2 {
  margin-top: 100px;
  display: flex;
  margin-bottom: 100px;
}

.section-2 h2 {
  margin: 150px 100px 0 0;
  flex: 1;
}

table {
  margin-left: 200px;
  margin-bottom: 50px;
}

table td {
  padding: 3px;
}

/* akhir main */

/* awal footer */

footer {
  bottom: 0;
  background-color: black;
  color: white;
  height: 50px;
  text-align: center;
  padding: 10px;
}

/* akhir footer */
